<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p> Software engineer with more than five years of experience working as QA automation, currently trying to switch
      in to the development area
      being a Full stack developer, using Ruby On Rails.</p>
  </div>
  <div class="sidebar-module">
    <h4>Social Media</h4>
    <ol class="list-unstyled">
      <li><a href="https://www.linkedin.com/in/eduardo-garibo-16016887"><%= fa_icon 'linkedin 3x' %></a></li>
      <li><a href="https://github.com/lalogaribo"><%= fa_icon 'github 3x' %></a></li>
    </ol>
  </div>
</div>