<footer class="text-muted">
  <div class="container">
       <p class= "text-center"><%= @copyright %> </p>
       <%= source_helper('Portfolio') %>
       <p class="text-center">
              <a href="#">Back to top</a>
              </p>
  </div>
</footer>
