<div class="app-card-container">
  <div class="card">
    <h1>About Me!</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'image.jpg', width: 300, alt: 'Profile Image', class: 'profile-img' %>
      </div>
      <div class="col-md-8">
        <p >
          Software engineer with more than five years of experience working as QA automation, currently trying to switch in to
          the development area
          being a Full stack developer, using Ruby On Rails.
        </p>
      </div>
    </div>
  </div>
</div>
