<h1>Would you like to work together?</h1>

<hr>
<div class="row">
  <div class="col-md-6">
    <address>
      Visit me on:<br>
      eduardoDev.com<br>
      Calle Universo, 98, Guadalajara, Jalisco<br>
      <p> <%= number_to_phone '3123170013' %></p>
      <p><a href="mailto:garibo.eduardo90@gmail.com?subject=PortfolioContact">Email me</a></p>
    </address>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.794416931309!2d-103.38138128507325!3d20.67794128618949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae1301d60c27%3A0x8a24bec5ecd5776!2sTiempo+Development+Guadalajara!5e0!3m2!1sen!2smx!4v1500843755310" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

