<body>
<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Welcome to my personal portfolio, where you can find information regarding my own person, as well as
    the different projects that i've worked on</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
</body>
</html>





